DesFormatoPedido/Service References/Service1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62544/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceBB.DataContract" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaArt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listaArtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceBB.DataContract" minOccurs="0" name="listaArtResult" nillable="true" type="q1:ArrayOfDC_Articulos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ncolor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NcolorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NcolorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datosCte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datosCteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceBB.DataContract" minOccurs="0" name="datosCteResult" nillable="true" type="q2:DC_datosCte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceBB.DataContract" minOccurs="0" name="venta" nillable="true" type="q3:DC_venta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleVentaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>